h1 {
    color: orangered;
    font-family: fantasy;
    font-size: xx-large;
    display: flex;
    justify-content: center;
}

body {
    background-color: whitesmoke;
}

 .Buttons {
  text-align: center;
  color: red;
  font-family: fantasy;
  font-size: xx-large;
}

.button2 {
    color: blue;
    border-color: darkblue;
    font-size: larger;
}

.button1 {
    color: blue;
    border-color: darkblue;
    font-size: larger;

}