<h1>Games#index</h1>
<br>
<%= link_to "Coin Toss", games_coinToss_path %>
<br>
<%= link_to "Rock, Paper, Scissors", games_rockPaperScissors_path %>
<br>
<%= link_to "Tic Tac Toe", games_ticTacToe_path %>
<br>
