// Place all the styles related to the accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


//Login page css
.logintext{
    position: absolute;
    width: 78px;
    height: 70px;
    left: 670px;
    top: 266px;
    font-family: Pacifico;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 70px;
    letter-spacing: -0.333333px;
    color: #000000;
}

.field1{
    position: absolute;
    width: 246px;
    height: 40px;
    left: 597px;
    top: 382px;
    background: #FFFFFF;
    border: 1px solid #565251;
    box-sizing: border-box;
}

.field2{
    position: absolute;
    width: 246px;
    height: 40px;
    left: 597px;
    top: 460px;
    background: #FFFFFF;
    border: 1px solid #565251;
    box-sizing: border-box;
}

.rememberfield{
    position: absolute;
    top: 520px;
    left: 656px;
}

.signuplogin{
    position: absolute;
    top: 620px;
    left: 606px;
    display: flex;
    justify-content: space-around;
    width: 20vw;
}

.logbutton{
    position: absolute;
    width: 140px;
    height: 52px;
    left: 646px;
    top: 564px;
    font-family: Pacifico;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 53px;
    letter-spacing: -0.333333px;
    color: #000000;
    background: #02BDF0;
    border-radius: 20px;
 }

.screen{
    position: absolute;
    width: 564px;
    height: 440px;
    left: 434px;
    top: 230px;
    z-index: -1;
    background: #C4C4C4;
    border: 5px solid #000000;
    box-sizing: border-box;
    border-radius: 95px;
}

.screenback{
    position: absolute;
    width: 652px;
    height: 508px;
    left: 390px;
    top: 186px;
    z-index: -2;
    background: #2C2A2B;
}

.screenleft{
    position: absolute;
    width: 55px;
    height: 610px;
    left: 335px;
    top: 189px;
    z-index: -1;
    background: #565251;
    border: 5px solid #000000;
    box-sizing: border-box;
}

.screenbottom{
    position: absolute;
    left: 338.5px;
    top: 693px;
    border-left: 46.8px solid transparent;
    border-right: 46.8px  solid transparent;
    border-bottom: 107.5px solid black;
    width: 657.5px;
}

.screenright{
    position: absolute;
    width: 59px;
    height: 612px;
    left: 1042px;
    top: 188px;
    z-index: -1;
    background: #565251;
    border: 5px solid #000000;
    box-sizing: border-box;
}

.bluetop{
    position: absolute;
    width: 948px;
    height: 57px;
    left: 242px;
    top: 104px;
    background: #02BDF0;
    border: 5px solid #000000;
    box-sizing: border-box;
}

.leftpannel{
    position: absolute;
    width: 38px;
    height: 612px;
    left: 297px;
    top: 189px;
    background: #C4C4C4;
    border: 5px solid #000000;
    box-sizing: border-box;
}

.rightpannel{
    position: absolute;
    width: 38px;
    height: 613px;
    left: 1101px;
    top: 188px;
    
    background: #C4C4C4;
    border: 5px solid #000000;
    box-sizing: border-box;
}

.bluetrap{
    position: absolute;
    width: 948px;
    height: 31px;
    left: 242px;
    top: 158px;
    background: #02BDF0;
    border: 5px solid #000000;
    box-sizing: border-box;
}

//Sign up page CSS

.arcade{
    position: absolute;
    width: 406px;
    height: 546px;
    left: 755px;
    top: 105px;
    background: url(arcade.jpg);
    background-position: center;
    border-radius: 120px;
}

.button{
    position: absolute;
    width: 186px;
    height: 56px;
    left: 221px;
    top: 559px;
    font-size: 30px;
    font-family: Pacifico;
    background: #02BDF0;
    border-radius: 20px;
  }

  .signonimg{
    position: absolute;
    width: 222px;
    height: 175px;
    left: 203px;
    top: 135px;
    background: url(profile_icon.png);
    border-radius: 122px;
    background-position: center;
  }

  .signuptext{
    position: absolute;
    width: 186px;
    height: 61px;
    left: 183px;
    top: 311px;
    font-family: Pacifico;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 70px;
    letter-spacing: -0.333333px;
    color: #000000;
  }

  .sutext{
    position: absolute;
    width: 198px;
    height: 58px;
    left: 307px;
    top: 311px;
    font-family: Pacifico;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 70px;
    letter-spacing: -0.333333px;
    color: #565251;
  }

  .lastfield{
    position: absolute;
    width: 200px;
    height: 40px;
    left: 319px;
    top: 408px;
    font-size: 30px;
  }

  .firstfield{
    position: absolute;
    width: 200px;
    height: 40px;
    left: 109px;
    top: 408px;
    font-size: 30px;
  }

  .suemail{
    position: absolute;
    width: 200px;
    height: 40px;
    left: 319px;
    top: 458px;
    font-size: 30px;
  }

  .pass{
    position: absolute;
    width: 200px;
    height: 40px;
    left: 109px;
    top: 458px;
    font-size: 30px;
  }

  .cpass{
    position: absolute;
    width: 200px;
    height: 40px;
    left: 210px;
    top: 508px;
    font-size: 30px; 
  }

  .gone{
      display: none;
  }

  .border{
    position: absolute;
    width: 434px;
    height: 524px;
    left: 98px;
    top: 116px;
    background: #FFFFFF;
    border: 5px solid #000000;
    box-sizing: border-box;
    border-radius: 96px;
    z-index: -2;
  }