/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
    margin: 0;
    padding: 0;
}

body{
   font-family: pacifico;
   text-align: center;
}

 .navbar{
    position: absolute;
    width: 100%;
    height: 105px;
    left: 0px;
    top: 0px;
    background: #02BDF0;
    z-index: -2;
 }

 .navtitle{
    position: absolute;
    left: 0.97%;
    right: 83.06%;
    top: 13.33%;
    bottom: 2.86%;
    
    font-family: Pacifico;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 88px;
    
    letter-spacing: -0.333333px;
    
    color: #000000;
 }

 .nav-item{
    font-family: Pacifico;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 53px;
    text-align: center;
    letter-spacing: -0.333333px;
    
    color: #FFFFFF;
 }

 .one{
    position: absolute;
    left: 38.49%;
    right: 16.46%;
    top: 26.67%;
    bottom: 40.95%;
 }

 .two{
    position: absolute;
    left: 65.15%;
    right: 1.04%;
    top: 26.67%;
    bottom: 44.76%;
 }

 .three{
   position: absolute;
    left: 44.15%;
    right: 1.04%;
    top: 26.67%;
    bottom: 44.76%;
 }

 .four{
   position: absolute;
   left: 87.15%;
   right: 1.04%;
   top: 26.67%;
   bottom: 44.76%;
 }

 .spacer{
     height: 105px;
     widht: 100px;
 }

 input::placeholder{
    font-family: pacifico;
    font-size: 30px;
 }

 input{
   width: 200px;
   height: 40px;
 }

 .oneback{
   position: absolute;
   width: 102px;
   height: 42px;
   left: 780px;
   top: 37px;
   z-index: -1;
   background: #565251;
   border-radius: 20px;
 }

 .twoback{
   position: absolute;
   width: 102px;
   height: 42px;
   left: 925px;
   top: 37px;
   z-index: -1;
   background: #565251;
   border-radius: 20px;
}

.threeback{
   position: absolute;
   width: 142px;
   height: 42px;
   left: 1045px;
   top: 37px;
   z-index: -1;
   background: #565251;
   border-radius: 20px;
}

.fourback{
   position: absolute;
   width: 128px;
   height: 42px;
   left: 1200px;
   top: 37px;
   z-index: -1;
   background: #565251;
   border-radius: 20px;
}





