<div class ='navbar'>
    <h1 class="navtitle">ProArcade</h1>
    <ul class= 'navlist'>
        <%= link_to 'sign up', nil, class:'nav-item one' %>
        <%= link_to 'log in', nil, class: 'nav-item two'%>
    </ul>
</div>